[hostname_hosts:children]
mysql_servers
ubuntu_servers

[mysql_servers]
%{ for index, ip in mysql_servers ~}
${prefix}-mysql-${index+1} ansible_host=${ip}
%{ endfor ~}

[mysql_servers:vars]
ansible_become=true
ansible_become_method=sudo

[ubuntu_servers]
%{ for index, ip in ubuntu_servers ~}
${prefix}-ubuntu-${index+1} ansible_host=${ip}
%{ endfor ~}

[ubuntu_servers:vars]
ansible_become=true
ansible_become_method=sudo