[mysql_servers]
%{ for index, ip in mysql_servers ~}
${prefix}-mysql-${index+1} ansible_host=${ip}
%{ endfor ~}

[mysql_servers:vars]
mysql_root_password=${mysql_root_password}
access_token=${access_token}
realm=${realm}