[otel_agent_hosts:children]
mysql_servers
ubuntu_servers
rocky_servers
gateway_servers
windows_servers

[mysql_servers]
%{ for index, ip in mysql_servers ~}
${prefix}-mysql-${index+1} ansible_host=${ip} ansible_port=22
%{ endfor ~}

[mysql_servers:vars]
ansible_become=true
ansible_become_method=sudo
ansible_python_interpreter=/usr/bin/python3.10

[ubuntu_servers]
%{ for index, ip in ubuntu_servers ~}
${prefix}-ubuntu-${index+1} ansible_host=${ip} ansible_port=22
%{ endfor ~}

[ubuntu_servers:vars]
ansible_become=true
ansible_become_method=sudo
#install_splunk_otel_auto_instrumentation=true
ansible_python_interpreter=/usr/bin/python3.10

[rocky_servers]
%{ for index, ip in rocky_servers ~}
${prefix}-rocky-${index+1} ansible_host=${ip} ansible_port=22
%{ endfor ~}

[rocky_servers:vars]
ansible_become=true
ansible_become_method=sudo
ansible_user=rocky
#install_splunk_otel_auto_instrumentation=true
ansible_python_interpreter=/usr/libexec/platform-python

[gateway_servers]
%{ for index, ip in gateway_servers ~}
${prefix}-gateway-${index+1} ansible_host=${ip} ansible_port=22
%{ endfor ~}

[gateway_servers:vars]
ansible_become=true
ansible_become_method=sudo
splunk_otel_collector_config=/etc/otel/collector/gateway_config.yaml
ansible_python_interpreter=/usr/bin/python3.10

[windows_servers]
%{ for index, ip in windows_servers ~}
${prefix}-windows-${index+1} ansible_host=${ip}
%{ endfor ~}

[windows_servers:vars]
ansible_user=Administrator
ansible_password=${windows_server_administrator_pwd}
ansible_connection=winrm
ansible_winrm_server_cert_validation=ignore
ansible_winrm_transport=ntlm
ansible_port=5985

[all:vars]
access_token=${access_token}
realm=${realm}