# This file contains all the settings which are unique to each deployment and it
# should NOT be stored in a public source control system as it contains sensitive information
# If values commented out, you will be prompted for them at run time, this way you
# can choose to store the information in here, or enter it at run time.

## Enable / Disable Modules ##
instances_enabled  = true

## Instance Quantities ##
ubuntu_count = "1"
mysql_count = "1"
windows_server_count = "1"

## Auth Settings ##
key_name              = "XXX"
private_key_path      = "~/.ssh/id_rsa"
ubuntu_instance_type  = "t2.micro"
aws_access_key_id     = "XXX"
aws_secret_access_key = "XXX"

### AWS Variables ###
region = "x"

## VPC Settings ##
vpc_cidr_block = "172.34.0.0/16"
subnet_count   = "2"

### MySQL Server Variables ###
mysql_instance_type = "t2.micro"
mysql_root_password = "XXX"

### Windows Server Variables ###
windows_server_administrator_pwd = "XXX"
windows_server_instance_type     = "t3.xlarge"

### Splunk IM/APM Variables ###
environment     = "xxx"
access_token    = "XXX"
realm           = "xxx"

### Ansible Variables ###
force_run_mysql_ansible = false # if true, forces this role to run on every terraform apply, useful for testing
force_run_ansible_install_otel_agent = false # if true, forces this role to run on every terraform apply, useful for testing
force_run_ansible_hostname = false # if true, forces this role to run on every terraform apply, useful for testing
galaxy_otel = "yes" # set to "no" to overide default ansible-galaxy install for otel, and instead use basic install scripts
